.logo 
	opacity 0
.button__tickets
	display inline-block
	position relative
	padding 15px 50px 15px 15px
	border none
	transition all 0.3s ease 0s
	&--pink
		background-color rgba(232, 30, 124, 1)
		color white
		font-size 16px
	&--icon
		vertical-align middle
		position absolute
		top 0
		right 0
		display block
		width 35px
		height 100%
		padding-top 7px
		text-align center
		font-size 25px
	&--pink:hover
		background-color rgba(206, 93, 145, 1)
		color white
		
